/* common style */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Poppins:wght@400;500;700&family=Work+Sans:wght@700&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    margin:0px;
}
/* section one */
.container-one{
    background-color:rgba(255, 144, 14, 0.1);
    margin-bottom:50px;
}
/* First part design of section one */
.header{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.text{
    margin-left:140px;
    font-size: 20px;
}
.list{
    list-style: none;
    display:flex;
    margin-left:380px;
    font-size:8px;
}
.list-item{
    margin-right:20px;
}
/* 2nd part of section one */
.group-one{
    text-align:center;
    margin-bottom:20px;
}
.group{
    font-size:34px;
    margin-bottom:10px;
}
.text-one{
    font-size:16px;
    font-weight:400;
    color:#727272;
}
.btn-primary{
    color:#FFFFFF;
    font-Weight:600;
    font-size:10px;
    height: 34px;
    width:100px;
    Border:0;
    border-radius: 5px;
    background-color:#FD6E0A;
}
/* 3rd part of section one */
.img{
    height:600px;
    margin-left:140px;
    margin-bottom:20px;
}
/* section two */
.container-two,.container-three{
    display:flex;
    align-items:center;
    margin-left:200px;
    margin-right:200px;
    margin-bottom:70px;
}
/* part one */
.image-design{
    width: 242px;
    height: 242px;
}
.images{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
}
/* part two */
.group-two{
    margin-left:80px;
}
.dark{
    color:#727272;
    font-size:25px;
}
.our{
    font-size:25px;
}
.orange{
    color:#FF900E;
    font-size:25px;
}
/* section three */
.features{
     font-size:25px;
     border-left:3px solid orangered;
     padding-left:15px;
}
.text-three{
    font-size:10px;
    color: #727272;
}
.text-four{
    font-size:15px;
}
.one{
    border:3px solid  white;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:10px;
    background-color: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.design{
    height:700px;
    width:700px;
    margin-left:100px;
}
.btn{
    color:#FFFFFF;
    font-Weight:600;
    font-size:10px;
    height: 100px;
    width:140px;
    Border:0;
    border-radius: 5px;
    background-color:#FD6E0A;
    position:relative;
    z-index:10;
    left:580px;
    top:-140px;
}
.style{
    font-size:30px;
}
/* section five */
.container-five{
    margin-left:200px;
    margin-right:1000px;
    margin-bottom:70px;
}
.feature{
    font-size:25px;
}
.career{
    position:relative;
    top:-10px;
}
/* section six */
.container-six{
    margin-left:200px;
    margin-right:200px;
    margin-bottom:70px;
    display:flex;
}
.different-box-one{
    border:3px solid #FF900E;
    width:150px;
    height:150px;
    text-align:center;
    padding-top:25px;
    margin-left:100px;
}
.different-box-two{
    border:3px solid #FF900E;
    width:150px;
    height:150px;
    text-align:center;
    padding-top:25px;
    margin-left:100px;
}
.different-box-three{
    border:3px solid #FF900E;
    width:150px;
    height:150px;
    text-align:center;
    padding-top:25px;
    margin-left:100px;
}
.different-box-four{
    border:3px solid #FF900E;
    width:150px;
    height:150px;
    text-align:center;
    padding-top:25px;
    margin-left:100px;
}
.number{
    font-size:40px;
    margin-bottom:-15px;
}
.font{
    margin-bottom:-45px;
}
/* Animation */
/* box-1 animation */
@keyframes translate {
    0%{ border-color:pink;
        background-color:pink;
        transform: translate(0, 0);}
    25%{border-color:skyblue;
        background-color: skyblue;
        transform: translate(10em, 0);}
    50%{border-color:pink;
        background-color: pink;
        transform: translate(0, 0);}
    75%{border-color:skyblue;
        background-color: skyblue;
        transform: translate(10em, 0);}
    100%{border-color:pink;
        background-color: pink;
        transform: translate(0, 0);}
  }
  .different-box-one:hover{
    animation-name: translate;
    animation-duration: 15s;
    Iteration-count:2;
}
/* box-2 animation */
@keyframes rotate {
    0%{ border-color:pink;
        background-color:pink;
        transform:rotate(0deg);}
    25%{border-color:skyblue;
        background-color: skyblue;
        transform: rotate(90deg);}
    50%{border-color:pink;
        background-color: pink;
        transform: rotate(0deg);}
    75%{border-color:skyblue;
        background-color: skyblue;
        transform: rotate(90deg);}
    100%{border-color:pink;
        background-color: pink;
        transform: translate(0, 0);}
  }
  .different-box-two:hover{
    animation-name: rotate;
    animation-duration: 15s;
    Iteration-count:2;
}
/* box-3 animation */
@keyframes translate-again {
    0%{ border-color:pink;
        background-color:pink;
        transform:translate(0, 0);}
    25%{border-color:skyblue;
        background-color: skyblue;
        transform:translate(-10em, 3em);}
    50%{border-color:pink;
        background-color: pink;
        transform: translate(0, 0);}
    75%{border-color:skyblue;
        background-color: skyblue;
        transform: translate(-10em, 3em);}
    100%{border-color:pink;
        background-color: pink;
        transform: translate(0, 0);}
  }
  .different-box-three:hover{
    animation-name: translate-again;
    animation-duration: 15s;
    Iteration-count:2;
}
/* box-4 animation */
@keyframes transform {
    0%{ border-color:pink;
        background-color:pink;
        transform:rotate(0deg);}
    25%{border-color:skyblue;
        background-color: skyblue;
        transform: rotate(-90deg);}
    50%{border-color:pink;
        background-color: pink;
        transform: rotate(0deg);}
    75%{border-color:skyblue;
        background-color: skyblue;
        transform:rotate(-90deg);}
    100%{border-color:pink;
        background-color: pink;
        transform: scale(0);}
  }
  .different-box-four:hover{
    animation-name: transform;
    animation-duration: 15s;
    Iteration-count:2;
}
/* section-seven */
.container-seven{
    display:flex;
    align-items: center;
    margin-left:200px;
    margin-right:200px;
    margin-bottom:70px;
}
.filter{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
.sponsor{
    width: 165.83px;
    height: 50px;
    margin-right:75px;
}
/* section nine */
.container-nine{
    margin-left:200px;
    margin-right:200px;
    margin-bottom:70px;
}
.last-section{
    width: 1160px;
    height: 70px;
    background-color:#FFF4E7;
    border-radius: 8px;
    text-align:center;
}
.text-five{
    font-size:15px;
    color: #424242;
    padding-top:25px;
}